@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Optimizer</h1>
    <p>This website is still under construction.</p>
    <p>
        <h2>Here is What Works:</h2>
        <span>
            Create, Add, Delete, Edit for task info.
        </span>
        <span>
            Filtering for specific task categories, statuses, due dates, etc.
        </span>
        <span>
            Optimizing task for maximizing the total value of all task based off a given maximum amount of time.
        </span>
        <h2>Features Comming Soon:</h2>
        <p>
            More features regarding task filtering and details.
        </p>
        <p>
            More pages for optimizing various things, such as budgets and spending habits.
        </p>
        <p>
            Sign in functionality that allows users to safely secure information and confidentiality.
        </p>
    </p>
</div>
